streamlit
supabase
groq
google-generativeai
google-genai
huggingface_hub
PyMuPDF
postgrest
uvloop
python-dotenv
fpdf2
markdown
bcrypt
genanki
gTTS
langchain-text-splitters
chromadb
requests
python-docx
python-pptx
openai
pypdf
